{{!-- Flags --}}
<div class="form-group">
  <label class="header">{{localize "PF1.CheckFlags"}}</label>
  <div class="buff-flags">
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.loseDexToAC" {{checked data.changeFlags.loseDexToAC}}/> {{localize "PF1.ChangeFlagLoseDexToAC"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noDex" {{checked data.changeFlags.noDex}}/> {{localize "PF1.ChangeFlagNoDex"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noStr" {{checked data.changeFlags.noStr}}/> {{localize "PF1.ChangeFlagNoStr"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneInt" {{checked data.changeFlags.oneInt}}/> {{localize "PF1.ChangeFlagOneInt"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneWis" {{checked data.changeFlags.oneWis}}/> {{localize "PF1.ChangeFlagOneWis"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneCha" {{checked data.changeFlags.oneCha}}/> {{localize "PF1.ChangeFlagOneCha"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noEncumbrance" {{checked data.changeFlags.noEncumbrance}}/> {{localize "PF1.ChangeFlagDwarflikeEncumbrance"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.mediumArmorFullSpeed" {{checked data.changeFlags.mediumArmorFullSpeed}}/> {{localize "PF1.ChangeFlagMediumArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.heavyArmorFullSpeed" {{checked data.changeFlags.heavyArmorFullSpeed}}/> {{localize "PF1.ChangeFlagHeavyArmorFullSpeed"}}
    </label>
  </div>
</div>

<div>
  {{!-- Changes --}}
  <h4 class="change-header">
    {{localize "PF1.Changes"}}
    <a class="change-control add-change"><i class="fas fa-plus"></i></a>
  </h4>
  <ol class="changes form-group">
    {{#each data.changes as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="data.changes.{{a}}.0" value="{{lookup this "0"}}"
                                                     placeholder="{{localize "PF1.Formula"}}" />
      <select name="data.changes.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "PF1.None"}}</option>
        {{#each ../changes.targets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="data.changes.{{a}}.2">
        {{#select (lookup this "2") }}
        {{#each subTargets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="data.changes.{{a}}.3">
        {{#select (lookup this "3") }}
        {{#each ../changes.modifiers as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="change-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
  </ol>
</div>
